* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F5F7FB;
}

/* App */

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Start.js component */

.quiz-title {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  color: #293264;
  margin: 0;
}

.description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  color: #293264;
  margin-bottom: 2rem;
}

.start-btn {
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  text-align: center;
  border-radius: 15px;
  margin: auto;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  color: #F5F7FB;
}

.start-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: cenetr;
  margin: auto;
}

/* Question component */

.question {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  color: #293264;
  border-bottom: 0.8px solid #DBDEF0;
  padding-bottom: 10px;
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 0;
  padding: 0;
}

.answer {
  margin-right: 20px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 0.8em;
  color: #293264;
  box-sizing: border-box;
  border: 0.8px solid #4D5B9E;
  border-radius: 8px;
  padding: 0.2em 1em;
}

.selectedAnswer {
  background-color: #D6DBF5;
}