* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F5F7FB;
  font-family: 'Inter';
}

/* App */

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.summary {
  margin-right: 60px;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  color: #293264;
}

.play-btn,
.check-btn,
.start-btn {
  background: #4D5B9E;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  color: #F5F7FB;
}

.start-btn {
  width: 193px;
  height: 52px;
  border-radius: 15px;
  margin: 0 auto;
}

.play-btn,
.check-btn {
  width: 193px;
  height: 30px;
  border-radius: 10px;
}

/* Start.js component */

.quiz-title {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  color: #293264;
  margin: 0;
}

.start-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: cenetr;
  margin: 20px auto;
}

/* Question component */

.question-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.question {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  color: #293264;
  border-bottom: 0.8px solid #DBDEF0;
  padding-bottom: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 0;
  padding: 0;
}

.answer {
  margin-right: 20px;
  font-weight: 500;
  font-size: 0.8em;
  color: #293264;
  box-sizing: border-box;
  border: 0.8px solid #4D5B9E;
  border-radius: 10px;
  padding: 0.3rem 1rem;
}

.selectedAnswer {
  background-color: #D6DBF5;
}

.correctAnswer {
  background-color: #94D7A2;
}

.incorrectAnswer {
  background-color: #F8BCBC;
}